In [53]:
import pandas as pd

## Indexing for pandas DataFrame

Pandas support multiple different types of indexing. 
- attribute access `df.colname`
- `[]`: label selection for columns; condition selection for rows; slicing selection for rows
-  `.loc`: label selection and condition selection for both rows and columns;
- `.iloc`: position selection and boolean array selection for both rows and columns;
- ... https://pandas.pydata.org/docs/user_guide/indexing.html

In [55]:
dogs = pd.read_csv("E:\E-BOOK\TA\STA 141B\dogs_full.csv")
dogs.head()

,breed,group,datadog,popularity_all,popularity,lifetime_cost,intelligence_rank,longevity,ailments,price,food_cost,grooming,kids,megarank_kids,megarank,size,weight,height
0,Border Collie,herding,3.64,45,39.0,20143.0,1.0,12.52,2.0,623.0,324.0,weekly,low,1.0,29.0,medium,NaN,20.0
1,Border Terrier,terrier,3.61,80,61.0,22638.0,30.0,14.00,0.0,833.0,324.0,weekly,high,2.0,1.0,small,13.5,NaN
2,Brittany,sporting,3.54,30,30.0,22589.0,19.0,12.92,0.0,618.0,466.0,weekly,medium,3.0,11.0,medium,35.0,19.0
3,Cairn Terrier,terrier,3.53,59,48.0,21992.0,35.0,13.84,2.0,435.0,324.0,weekly,high,4.0,2.0,small,14.0,10.0
4,Welsh Springer Spaniel,sporting,3.34,130,81.0,20224.0,31.0,12.49,1.0,750.0,324.0,weekly,high,5.0,4.0,medium,NaN,18.0

### Attributes Selection

In [56]:
# use attributes
dogs.breed

0                    Border Collie
1                   Border Terrier
2                         Brittany
3                    Cairn Terrier
4           Welsh Springer Spaniel
                  ...
167                     Weimaraner
168                  Welsh Terrier
169               Wire Fox Terrier
170    Wirehaired Pointing Griffon
171                 Xoloitzcuintli
Name: breed, Length: 172, dtype: object

### [] Selection

In [13]:
dogs['breed']
dogs[['breed','datadog','popularity']]

0                    Border Collie
1                   Border Terrier
2                         Brittany
3                    Cairn Terrier
4           Welsh Springer Spaniel
                  ...
167                     Weimaraner
168                  Welsh Terrier
169               Wire Fox Terrier
170    Wirehaired Pointing Griffon
171                 Xoloitzcuintli
Name: breed, Length: 172, dtype: object

In [20]:
dogs[dogs['popularity']>=39].head()
# when do boolean indexing, '|' is for 'or'; '&' is for 'and'; all conditions should be separated by ()
dogs[(dogs['popularity']>=39) & (dogs['group']=='herding')]
# slice of rows
dogs[:10]

,breed,group,datadog,popularity_all,popularity,lifetime_cost,intelligence_rank,longevity,ailments,price,food_cost,grooming,kids,megarank_kids,megarank,size,weight,height
0,Border Collie,herding,3.64,45,39.0,20143.0,1.0,12.52,2.0,623.0,324.0,weekly,low,1.0,29.0,medium,NaN,20.0
1,Border Terrier,terrier,3.61,80,61.0,22638.0,30.0,14.00,0.0,833.0,324.0,weekly,high,2.0,1.0,small,13.5,NaN
2,Brittany,sporting,3.54,30,30.0,22589.0,19.0,12.92,0.0,618.0,466.0,weekly,medium,3.0,11.0,medium,35.0,19.0
3,Cairn Terrier,terrier,3.53,59,48.0,21992.0,35.0,13.84,2.0,435.0,324.0,weekly,high,4.0,2.0,small,14.0,10.0
4,Welsh Springer Spaniel,sporting,3.34,130,81.0,20224.0,31.0,12.49,1.0,750.0,324.0,weekly,high,5.0,4.0,medium,NaN,18.0
5,English Cocker Spaniel,sporting,3.33,63,51.0,18993.0,18.0,11.66,0.0,800.0,324.0,weekly,high,6.0,5.0,medium,30.0,16.0
6,Cocker Spaniel,sporting,3.30,27,27.0,24330.0,20.0,12.50,2.0,465.0,674.0,weekly,high,7.0,6.0,small,25.0,14.5
7,Papillon,toy,3.26,38,33.0,21001.0,8.0,13.00,5.0,740.0,324.0,weekly,medium,8.0,22.0,small,NaN,9.5
8,Australian Cattle Dog,herding,3.25,60,49.0,20395.0,10.0,11.67,1.0,530.0,466.0,weekly,low,9.0,52.0,medium,NaN,18.5
9,Shetland Sheepdog,herding,3.22,20,20.0,21006.0,6.0,12.53,5.0,465.0,405.0,daily,high,11.0,8.0,small,22.0,14.5

### `.loc` Selection

In [71]:
# select by index label; note '5' here is an index label instead of position 
dogs.loc[5]
# select by index + column label
dogs.loc[5,'group']
# select a column
dogs.loc[:,'group']
# select by a list of labels
dogs.loc[[0,1,3],['group','popularity']]
# select by conditions
dogs.loc[dogs.longevity>12,'group']

# change the index to the breed
dogs = dogs.set_index('breed')

In [49]:
dogs.loc['English Cocker Spaniel']

group                sporting
datadog                  3.33
popularity_all             63
popularity               51.0
lifetime_cost         18993.0
intelligence_rank        18.0
longevity               11.66
ailments                  0.0
price                   800.0
food_cost               324.0
grooming               weekly
kids                     high
megarank_kids             6.0
megarank                  5.0
size                   medium
weight                   30.0
height                   16.0
Name: English Cocker Spaniel, dtype: object

### `.iloc` Selection

In [50]:
dogs.head()

,group,datadog,popularity_all,popularity,lifetime_cost,intelligence_rank,longevity,ailments,price,food_cost,grooming,kids,megarank_kids,megarank,size,weight,height
breed,,,,,,,,,,,,,,,,,
Border Collie,herding,3.64,45,39.0,20143.0,1.0,12.52,2.0,623.0,324.0,weekly,low,1.0,29.0,medium,NaN,20.0
Border Terrier,terrier,3.61,80,61.0,22638.0,30.0,14.00,0.0,833.0,324.0,weekly,high,2.0,1.0,small,13.5,NaN
Brittany,sporting,3.54,30,30.0,22589.0,19.0,12.92,0.0,618.0,466.0,weekly,medium,3.0,11.0,medium,35.0,19.0
Cairn Terrier,terrier,3.53,59,48.0,21992.0,35.0,13.84,2.0,435.0,324.0,weekly,high,4.0,2.0,small,14.0,10.0
Welsh Springer Spaniel,sporting,3.34,130,81.0,20224.0,31.0,12.49,1.0,750.0,324.0,weekly,high,5.0,4.0,medium,NaN,18.0

In [85]:
# select row by position
dogs.iloc[1]
dogs.iloc[[0,1,3,5]]
# select col by position
dogs.iloc[:,1]
dogs.iloc[:,[1,2,3]]
# select a value by (row,col)
dogs.iloc[0,0]
# select by condition
dogs.iloc[dogs.longevity>12]
#dogs.iloc[(dogs.longevity>12).values]

,group,datadog,popularity_all,popularity,lifetime_cost,intelligence_rank,longevity,ailments,price,food_cost,grooming,kids,megarank_kids,megarank,size,weight,height
breed,,,,,,,,,,,,,,,,,
Border Collie,herding,3.64,45,39.0,20143.0,1.0,12.52,2.0,623.0,324.0,weekly,low,1.0,29.0,medium,NaN,20.0
Border Terrier,terrier,3.61,80,61.0,22638.0,30.0,14.00,0.0,833.0,324.0,weekly,high,2.0,1.0,small,13.5,NaN
Brittany,sporting,3.54,30,30.0,22589.0,19.0,12.92,0.0,618.0,466.0,weekly,medium,3.0,11.0,medium,35.0,19.0
Cairn Terrier,terrier,3.53,59,48.0,21992.0,35.0,13.84,2.0,435.0,324.0,weekly,high,4.0,2.0,small,14.0,10.0
Welsh Springer Spaniel,sporting,3.34,130,81.0,20224.0,31.0,12.49,1.0,750.0,324.0,weekly,high,5.0,4.0,medium,NaN,18.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Bulldog,non-sporting,0.99,6,6.0,13479.0,78.0,6.29,5.0,2680.0,466.0,weekly,medium,87.0,87.0,medium,45.0,NaN
Leonberger,working,NaN,103,NaN,15141.0,NaN,6.98,NaN,1480.0,NaN,weekly,high,NaN,NaN,large,NaN,28.5
Nova Scotia Duck Tolling Retriever,sporting,NaN,107,NaN,12653.0,NaN,6.50,1.0,1500.0,NaN,weekly,high,NaN,NaN,medium,NaN,19.0
Swedish Vallhund,herding,NaN,153,NaN,22839.0,NaN,14.17,NaN,772.0,NaN,weekly,high,NaN,NaN,small,NaN,12.5
Tibetan Mastiff,working,NaN,122,NaN,23747.0,NaN,11.92,NaN,3460.0,NaN,weekly,high,NaN,NaN,large,NaN,25.0

Indexing can return a reference or a copy. Pandas doesn't have well-documented rules about when copies are made. In general, you should [avoid chained indexing](http://pandas.pydata.org/pandas-docs/stable/indexing.html#returning-a-view-versus-a-copy). Use `.loc`, `.iloc` when you want to modify part of a data frame.

Following is an example of chained indexing

In [89]:
dogs2 = dogs.copy()
#exmaple of a chained index, should be avoid
dogs2[dogs2["popularity"]>39][["price"]].head()

                        price
breed
Border Terrier          833.0
Cairn Terrier           435.0
Welsh Springer Spaniel  750.0
English Cocker Spaniel  800.0
Australian Cattle Dog   530.0

In [90]:
dogs2[dogs2["popularity"]>39][["price"]] = 0

C:\Users\weidu\AppData\Local\Temp\ipykernel_4476\2451649358.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dogs2[dogs2["popularity"]>39][["price"]] = 0

In [92]:
#use .loc or .iloc instead 
dogs.loc[dogs2["popularity"]>1,["price"]] = 0

Some Hints for HW2

In [1]:
import pandas as pd
dogs = pd.read_csv("dogs_full.csv")
dogs.dropna(inplace=True)
dogs.head()
dogs.describe()

,datadog,popularity_all,popularity,lifetime_cost,intelligence_rank,longevity,ailments,price,food_cost,megarank_kids,megarank,weight,height
count,43.000000,43.000000,43.000000,43.000000,43.000000,43.000000,43.000000,43.000000,43.000000,43.000000,43.000000,43.000000,43.000000
mean,2.608605,58.558140,44.046512,20532.837209,44.511628,11.340698,1.581395,810.162791,519.302326,43.883721,41.232558,49.348837,18.343023
std,0.563571,40.962412,23.865649,3290.778276,22.624652,2.045207,1.679464,317.225166,226.292850,25.568032,27.759886,39.415149,6.832830
min,1.420000,1.000000,1.000000,13581.000000,4.000000,6.500000,0.000000,294.000000,270.000000,3.000000,2.000000,5.000000,5.000000
25%,2.200000,25.500000,25.500000,18508.500000,27.500000,10.050000,0.500000,587.500000,405.000000,23.500000,14.500000,18.000000,11.750000
50%,2.720000,49.000000,43.000000,21006.000000,45.000000,11.810000,1.000000,810.000000,466.000000,42.000000,43.000000,36.500000,18.500000
75%,3.030000,90.500000,67.000000,22072.500000,65.000000,12.515000,2.000000,987.500000,570.000000,65.000000,66.000000,67.500000,25.000000
max,3.540000,160.000000,87.000000,26686.000000,80.000000,16.500000,9.000000,2083.000000,1349.000000,86.000000,84.000000,175.000000,30.000000

In [6]:
# ratio: food cost/lifetime cost and price/lifetime cost
# element wise division
dogs_rat_1 = dogs[['price','food_cost']].div(dogs['lifetime_cost'],axis=0)

# join two data frames
# join dogs and dogs_rat
dogs.join(dogs_rat_1)

ValueError: columns overlap but no suffix specified: Index(['price', 'food_cost'], dtype='object')

In [46]:
# group by
# food cost/lifetime cost and price/lifetime cost for each group
dogs_bygroup = dogs.groupby('group')[['price','food_cost','lifetime_cost']].sum()
dogs_bygroup_rat = dogs_bygroup[['price','food_cost']].div(dogs_bygroup['lifetime_cost'],axis = 0)

# get the index of the maximal value --> which group has the highest price/lifttime cost
dogs_bygroup_rat['price'].idxmax()

'terrier'

In [52]:
# create a new column which contains the type of cost which is higher between food cost and price
dogs[['price','food_cost']]
dogs[['price','food_cost']].idxmax(axis = 1)
dogs['higher_cost'] = dogs[['price','food_cost']].idxmax(axis = 1)

2         price
3         price
5         price
6     food_cost
9         price
10        price
11        price
14        price
15        price
18        price
23    food_cost
24    food_cost
25        price
26        price
27        price
29        price
32        price
35        price
38        price
39        price
40        price
42        price
44        price
48        price
50        price
53        price
55        price
57    food_cost
58        price
59        price
61    food_cost
63        price
65        price
66        price
67        price
72        price
74        price
76        price
78        price
80    food_cost
82        price
83        price
85    food_cost
dtype: object